* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.body {
  background-color: #f2f2f2;
}

.header {
  background-color: #2f2235;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  max-height: 75px;
}

.header-title {
  color: #f2f2f2;
  font-weight: 300;
}

.header-title.header-span {
  color: #34d1d1;
}

.student-name {
  color: #f2f2f2;
  font-size: 20px;
}

h3 {
  color: #3f3244;
  font-weight: 300;
  position: relative;
  line-height: 0.2em;
  margin: 25px 25px 25px 40px;
}

h3:after {
  z-index: -1;
  position: absolute;
  right: 0%;
  content: '';
  width: 100%;
  border-bottom: 1px solid #d1d2d3;
}

h3 span {
  background: #fff;
  padding-right: 30px;
}

button {
  text-align: center;
  background-color: #3f3244;
  color: #F2F2F2;
  width: 300px;
  height: 40px;
  font-size: 16px;
  padding: 10px;
  margin: 50px 0 75px;
  border-radius: 0;
}

.button-box {
  text-align: center;
}

/*//////////////////////////////////////
/////////-- ACCORDION BOX --////////////
///////////////////////////////////// */

.accordion-box {
  min-width: 320px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
}

.accordion-section {
  display: none;
  padding: 20px 0 0;
  border: 1px solid #666;
  border-top: none;
  background-color: #fff;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
}

input {
  display: none;
}

label {
  width: 25%;
  padding: 15px 25px;
  font-weight: 300;
  text-align: center;
  color: #3f3244;
  border: 1px solid #fff;
  border-bottom: 1px solid #000;
}

label:before {
  font-weight: normal;
  margin-right: 10px;
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #2f2235;
  background-color: #fff;
  font-weight: bold;
  border: 1px solid #666;
  border-top: 1px solid #666;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

.accordion-description {
  display: flex;
}

.placeholder-image {
  width: 200px;
  height: 225px;
  border: 1px solid #f2f2f2;
  margin: 40px 15px;
  align-self: center;
}

.placeholder-image2 {
  display: none;
}

.tab-text-container {
  text-align: left;
  padding: 15px;
  
}

.tab-text-container h4 {
  margin: 10px 0;
}

.tab-text-container p {
  margin: 20px 0;
}

/*//////////////////////////////////////
/////////-- FLEXIBLE BOX --/////////////
///////////////////////////////////// */

.flexible-card-box {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 33.3% 33.3% 33.3%;
}

.flex-cards {
  border: 2px solid #d1d2d3;
  margin: 20px;
}

.flex-card-title {
  font-weight: 700;
  padding: 15px;
  width: 100%;
  border-bottom: 2px solid #d1d2d3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.flex-card-image {
  display: none;
}

.flex-card-image-2 {
  display: block;
  width: 100%;
  height: 150px;
  object-fit: contain;
}


.flex-card-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.flex-card-7 {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}


@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
  
/*///////-- ACCORDION BOX --//////////*/
  
  label {
    width: 100%;
    text-align: left;
  }
  
  .accordion-section {
    position: static;
  }
  
  .accordion-box {
    height: 800px;
  }
  
  .accordion-description {
    flex-direction: column;
  }
  
  .accordion-description .placeholder-image {
    margin: 0 auto;
  }
  
  .placeholder-image {
    display: none;
  }
  
  .placeholder-image2 {
    display: block;
    width: 100%;
  }
  
  .flexible-card-box {
    display: block;
  }
  
  .flex-card-image {
    display: block;
    width: 100%;
  }
  
  .flex-card-image-2 {
    display: none;
  }
}
